*{margin: 0;
padding: 0;
}
.page1{
    white: 970;
    height: 1390;
    background-color: purple;
    padding: 10px 0 30px 0; 
}
.page1 article, .page1 div, .page1 aside{
    width: 900px;
}
.page1 article{
    height: 600px;
    margin: 0 30px 20px 40px;
    background-color: pink;
}
.page1 div{
    height: 600px;
    width: 0 10px 30px 60px;
    background-color: crimson;
}

 .page1 aside{
     height: 300px;
     margin: 0 40px 0 30px ;
    background-color: aquamarine;
 }